<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categories</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [formGroup]="form">
    <ion-item *ngFor="let category of categories; let i = index">
      <ion-checkbox label-placement="start" [value]="i" formControlName="ch{{i + 1}}">{{category.name}}</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
